<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
    <title>eCard | user.firstName + " " + user.lastName </title>
</head>
<body>
    <div class="page-wrapper">
        <header class="container-medium">
            <%- include('../partials/nav.ejs') %>
        </header>
        
        <main class="page-full">
            <div class='container-xsmall'>
                <section class="card">
                    
                    <div class="cover">
                        <nav>
                            <a class='icon' href="#">
                                <img src="/assets/images/brands/share.svg"> 
                            </a>
                            <a class='icon' href="#">
                                <img src="/assets/images/brands/info.svg"> 
                            </a>
                            <a class='icon' href="#">
                                <img src="/assets/images/brands/user.svg"> 
                            </a>
                        </nav>
                        <div class="profile-container">
                            <img src="/assets/images/profile-pic.png">
                        </div>
                    </div>
                    <header>
                        <div class='title-container'>
                            <h1>Daniel Vidar Holm</h1>
                            <div class="subtitle-container">
                                <p>Occupation</p>
                                <p>Company</p>
                            </div>
                        </div>
                        <div class='bio-container'>
                            <p>Lorem sit amet consectetur sit amet consectetur adipisicing elit sit amet consectetur</p>
                        </div>
                    </header>
                    <main>
                        <section class='socials'>
                            <div>
                                <div class='social-button'>
                                    <div>
                                        <img src="/assets/images/brands/facebook.svg"> 
                                    </div>
                                    <a class="social-link" href='#'><span class="top">https://www.sociallink.com/</span><span class='bottom'>danielthedev</span></a>
                                </div>
                                <div class='social-button'>
                                    <div>
                                        <img src="/assets/images/brands/devdotto.svg"> 
                                    </div>
                                    <a class="social-link" href='#'><span class="top">https://www.sociallink.com/</span><span class='bottom'>danielthedev</span></a>
                                </div>
                                <div class='social-button'>
                                    <div>
                                        <img src="/assets/images/brands/discord.svg"> 
                                    </div>
                                    <a class="social-link" href='#'><span class="top">https://www.sociallink.com/</span><span class='bottom'>danielthedev</span></a>
                                </div>
                                <div class='social-button'>
                                    <div>
                                        <img src="/assets/images/brands/github.svg"> 
                                    </div>
                                    <a class="social-link" href='#'><span class="top">https://www.sociallink.com/</span><span class='bottom'>danielthedev</span></a>
                                </div>
                            </div>
                            <div>
                                <div class='social-button'>
                                    <div>
                                        <img src="/assets/images/brands/hashnode.svg"> 
                                    </div>
                                    <a class="social-link" href='#'><span class="top">https://www.sociallink.com/</span><span class='bottom'>danielthedev</span></a>
                                </div>
                                <div class='social-button'>
                                    <div>
                                        <img src="/assets/images/brands/instagram.svg"> 
                                    </div>
                                    <a class="social-link" href='#'><span class="top">https://www.sociallink.com/</span><span class='bottom'>danielthedev</span></a>
                                </div>
                                <div class='social-button'>
                                    <div>
                                        <img src="/assets/images/brands/linkedin.svg"> 
                                    </div>
                                    <a class="social-link" href='#'><span class="top">https://www.sociallink.com/</span><span class='bottom'>danielthedev</span></a>
                                </div>
                                <div class='social-button'>
                                    <div>
                                        <img src="/assets/images/brands/reddit.svg"> 
                                    </div>
                                    <a class="social-link" href='#'><span class="top">https://www.sociallink.com/</span><span class='bottom'>danielthedev</span></a>
                                </div>

                            </div>
                        </section>
                        <section class='cta'>
                            <a href="#" class='button'>Check out my skills</a>
                            <a href="#" class='button'>Check out my work</a>
                            <a href="#" class='button'>Check out my reviews</a>
                            <p>eCard visits: 542</p>
                        </section>
                       
                    </main>
                    <footer>
                        <section class="contact">
                            <a class='button info' href="#">
                                <div class="icon">
                                    <img src="/assets/images/brands/mail.svg">
                                </div>
                                email@email.com
                            </a>
                            <a class="button success" href="#">
                                <div class="icon">
                                    <img src="/assets/images/brands/phone.svg">
                                </div>
                                34-34-53-23
                            </a>
                        </section>
                    </footer>
                </section>
            </div>
        </main>
        <footer class="container-medium">

        </footer>
    </div>
</body>
</html>